html {
  background: url(images/bg.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-family: 'Brush Script MT', cursive;
font-size: 24px;
font-style: normal;
font-variant: normal;
color: white;
font-weight: 500;
line-height: 26px;
}

.cry{
  position:absolute;
  top: 76%;
  left: 28%;
}

.tears{  position:absolute;
  top: 48%;
  left: 60%;}
