body {
  background-color: black;

}

.school{
  position: absolute;
  top:4%;
  left:15%;
}

.s2{
  position: absolute;
  top:4%;
  left:50%;
}

.s3{
  position: absolute;
  top:50%;
  left:15%;
}

.s4{
  position: absolute;
  top:50%;
  left:50%;
}
